<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab bottom right #fab1>
    <button ion-fab mini (click)="goToNewHunt()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list>
    <button ion-item *ngFor="let hunt of hunts" (click)="selectHunt(hunt)">
      {{ hunt.name }}
      <ion-icon name="play" item-end *ngIf="isOpen(hunt)"></ion-icon>
      <ion-icon name="ionic" item-end *ngIf="inProgress(hunt)"></ion-icon>
    </button>
  </ion-list>
</ion-content>
